
.card-container{
    background-color: #232323;
    margin: 10px;
    padding: 10px;
    color: #fff;
    min-width: 230px;
    max-width: 400px;
    min-height: 194px;
    border-radius: 8px;
    /* border: 2px solid green; */
}

.card-subcontainer{
    display: flex;
    margin-bottom: 5px;
    /* overflow-y: hidden; */
    /* height: 160px; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
}

.card-subcontainer .img-container{
    /* border: 2px solid red; */
    width: 40%;
    height: 100px;
    margin-right: 10px;

}

.card-subcontainer .img-container img{
    display: block;
    border-radius: 10px;
    width: 90px;
    height: 100px;
    object-fit: contain;
    object-position: left;
}

.card-subcontainer .content-container{
    /* border: 2px solid orangered; */
    padding: 10px 10px 10px 0px;

}

.card-subcontainer .content-container h3{
    font-size: 1.6rem;
    font-weight: 300;
    /* border: 2px solid gray; */
}

.card-subcontainer .content-container p
,.card-subcontainer .content-container h4{
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 13px;
}

.card-subcontainer .content-container h4{
    /* margin-bottom: 16px; */
    color: rgba(255, 255, 255, 0.6);
}

.card-container span{
    display: inline-block;
    width: 40%;
    /* border: 2px solid red; */
    /* margin-top: 20px; */
    font-size: 1.2rem;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.6);
}
.card-container #date{
    width: 60%;
    padding-right: 0;
}

.card-container > p{
    display: inline-block;
    width: 100%;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.6);
    margin:16px 0 9px 0;

}

.state-time-wrapper{
    min-height:28px;
}

/* @media (min-width: 700px) {
    .card-container{
        min-width: 700px;
    }
  } */

