.container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid rebeccapurple; */
}

.container main {
  margin-top: 35px;
  max-width: 1250px;
  min-width: 260px;
  /* border: 2px solid red; */
  margin-right: 30px;
}

.container main h1 {
  font-size: 2.9rem;
  color: rgba(255, 255, 255, 0.87);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.5px;
}

.container main h2 {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 15px;
    color: rgb(146, 146, 146);
}



@media (max-width: 600px) {
  .container{
    flex-direction: column;
  }
  .container main{
    padding: 30px;
  }
}

